In [1]:
# import relevant modules
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import numpy as np

In [23]:
# load 2019 taxi trip data collected by NYC Taxi and Limousine Commission (TLC) into a pandas dataframe
taxis = sn.load_dataset("taxis")

In [24]:
# take a look at the dataset
taxis

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

How many rows?

In [1]:
# Write code here

How many columns?

In [2]:
# Write code here

How many missing values in each column?

In [3]:
# Write code here

What is the average distance traveled by the taxi trips in this dataset?

In [4]:
# Write code here

Create a histogram to visualize the distribution of distances.

In [5]:
# Write code here

What do notice you about the shape of the distribution given the histogram above?

Write response here

Create a scatterplot to visualize total cost of taxi trip over distance traveled.

In [6]:
# Write code here

What trend do you see in the scatterplot?

Write response here

Drop the rows where there is a missing value in the "payment" column.

In [7]:
# Write code here

Confirm that there are no missing values in the "payment" column now.

In [8]:
# Write code here

What are the different forms of payment?

In [9]:
# Write code here

Create a countplot to visualize how many taxi trips were payed for via each form of payment.

In [10]:
# Write code here

From the visualization, what can you tell about the distribution of taxi trips across payment form?

Write response here

How many taxi trips were payed for via each form of payment?

In [11]:
# Write code here

Drop rows where there is a missing value in the "pickup_borough" column.

In [13]:
# Write code here

Confirm that there are no missing values in the "pickup_borough" column now.

In [14]:
# Write code here

What are the different boroughs from which taxi pickups occur according to the dataset?

In [15]:
# Write code here

Create a countplot to visualize the distribution of taxi pickups across borough.

In [16]:
# Write code here

Drop rows where there is a missing value in the "dropoff_borough" column.

In [17]:
# Write code here

Confirm that there are no missing values in the "dropoff_borough" column now.

In [18]:
# Write code here

How many taxi trips did dropoffs in each borough?

In [19]:
# Write code here

What are the different boroughs from which taxi dropoffs occur according to the dataset?

In [20]:
# Write code here

Create a countplot to visualize the distribution of taxi dropoffs across borough.

In [21]:
# Write code here

How many taxi trips did dropoffs in each borough?

In [22]:
# Write code here

Create a subset that only includes taxi trips that picked up passengers in the Brooklyn borough.

In [23]:
# Write code here

Take a look at the subset.

In [24]:
# Write code here

How many rows in the subset?

In [25]:
# Write code here

How many columns in the subset?

In [26]:
# Write code here

What are the pickup zones in the pickup borough Brooklyn in order of most taxi trips to least taxi trips, along with the corresponding counts?

In [27]:
# Write code here

What are the pickup zones with the 5 highest counts?

In [28]:
# Write code here

Create a subset for taxi trips involving pickup in any of the 5 zones identified above.

In [29]:
# Write code here

How many rows in this subset?

In [30]:
# Write code here

How many columns in this subset?

In [31]:
# Write code here

Create a countplot to visualize the distribution of taxi trips across the "top 5" pickup zones in pickup borough Brooklyn.

In [32]:
# Write code here

What is one thing you notice from the barplot above?

Write response here

Create a barplot to visualize the total cost on average across each of the "top 5" pickup zones in pickup borough Brooklyn.

In [33]:
# Write code here

What is one thing you notice from the barplot above?

Write response here