In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
netflix_data = pd.read_csv('NetflixViewingHistory.csv')
netflix_data.head()

                                               Title     Date
0         Russian Doll: Season 2: Station to Station   5/4/22
1                Russian Doll: Season 2: Brain Drain   5/3/22
2          Russian Doll: Season 2: Coney Island Baby  4/26/22
3                     Russian Doll: Season 2: Nowhen  4/26/22
4  Eternally Confused and Eager for Love: Season ...  4/10/22

In [4]:
netflix_data.shape

(1972, 2)

In [5]:
len(netflix_data)
#Or netflix_data.shape[0] for rows
#Or netflix_data.shape[1] for columns

1972

In [6]:
#How many times did you watch an epiosde of the show Grey's Anatomy
netflix_data['Title'].apply(lambda title: "Grey's Anatomy" in title)

0       False
1       False
2       False
3       False
4       False
        ...
1967    False
1968    False
1969    False
1970    False
1971    False
Name: Title, Length: 1972, dtype: bool

In [7]:
netflix_data['Title'].apply(lambda title: "Grey's Anatomy" in title).sum()
#or sum(netflix_data['Title'].apply(lambda title: "Grey's Anatomy" in title))

67

In [8]:
#which episodes
netflix_data.loc[["Grey's Anatomy" in title for title in netflix_data['Title']],:]

                                                  Title     Date
406   Grey's Anatomy: Season 15: The Winner Takes It...  2/13/21
407          Grey's Anatomy: Season 15: Help, I'm Alive  2/13/21
590      Grey's Anatomy: Season 16: Put on a Happy Face  5/26/20
594            Grey's Anatomy: Season 16: Sing It Again  5/21/20
595          Grey's Anatomy: Season 16: Love of My Life  5/21/20
...                                                 ...      ...
1306       Grey's Anatomy: Season 1: A Hard Day's Night   4/8/19
1631               Grey's Anatomy: Season 14: All of Me  8/20/18
1632             Grey's Anatomy: Season 14: Cold as Ice  8/20/18
1633     Grey's Anatomy: Season 14: Fight for Your Mind  8/20/18
1634          Grey's Anatomy: Season 14: Bad Reputation  8/20/18

[67 rows x 2 columns]

In [9]:
netflix_data.loc[["Grey's Anatomy" in title for title in netflix_data['Title']],'Title']

406     Grey's Anatomy: Season 15: The Winner Takes It...
407            Grey's Anatomy: Season 15: Help, I'm Alive
590        Grey's Anatomy: Season 16: Put on a Happy Face
594              Grey's Anatomy: Season 16: Sing It Again
595            Grey's Anatomy: Season 16: Love of My Life
                              ...
1306         Grey's Anatomy: Season 1: A Hard Day's Night
1631                 Grey's Anatomy: Season 14: All of Me
1632               Grey's Anatomy: Season 14: Cold as Ice
1633       Grey's Anatomy: Season 14: Fight for Your Mind
1634            Grey's Anatomy: Season 14: Bad Reputation
Name: Title, Length: 67, dtype: object

In [10]:
#On what date did I last watch the show 'Kim's Convenience'?
netflix_data.loc[["Kim's Convenience" in title for title in netflix_data['Title']],:]

                                                 Title      Date
359       Kim's Convenience: Season 5: Family Business   6/28/21
360        Kim's Convenience: Season 5: Hugs & Prayers   6/28/21
361         Kim's Convenience: Season 5: Matchy Matchy   6/28/21
362   Kim's Convenience: Season 5: Who's Pranking Who?   6/28/21
363      Kim's Convenience: Season 5: Field of Schemes   6/28/21
...                                                ...       ...
1529              Kim's Convenience: Season 1: Wingman  11/19/18
1530      Kim's Convenience: Season 1: Frank & Nayoung  11/19/18
1531           Kim's Convenience: Season 1: Ddong Chim  11/19/18
1532       Kim's Convenience: Season 1: Janet's Photos  11/19/18
1533         Kim's Convenience: Season 1: Gay Discount  11/19/18

[65 rows x 2 columns]

In [11]:
netflix_data.loc[["Kim's Convenience" in title for title in netflix_data['Title']],:].sort_values('Date', ascending=False)

                                                 Title      Date
359       Kim's Convenience: Season 5: Family Business   6/28/21
360        Kim's Convenience: Season 5: Hugs & Prayers   6/28/21
361         Kim's Convenience: Season 5: Matchy Matchy   6/28/21
362   Kim's Convenience: Season 5: Who's Pranking Who?   6/28/21
363      Kim's Convenience: Season 5: Field of Schemes   6/28/21
...                                                ...       ...
1529              Kim's Convenience: Season 1: Wingman  11/19/18
1530      Kim's Convenience: Season 1: Frank & Nayoung  11/19/18
1531           Kim's Convenience: Season 1: Ddong Chim  11/19/18
1532       Kim's Convenience: Season 1: Janet's Photos  11/19/18
1533         Kim's Convenience: Season 1: Gay Discount  11/19/18

[65 rows x 2 columns]

In [12]:
netflix_data.loc[["Kim's Convenience" in title for title in netflix_data['Title']],:].sort_values('Date', ascending=False).iloc[0]

Title    Kim's Convenience: Season 5: Family Business
Date                                          6/28/21
Name: 359, dtype: object

In [13]:
netflix_data.loc[["Kim's Convenience" in title for title in netflix_data['Title']],:].sort_values('Date')['Date'].iloc[64]

'6/28/21'

In [14]:
#the last episode of Kims convinience watched
netflix_data.loc[["Kim's Convenience" in title for title in netflix_data['Title']],:].sort_values('Date')['Title'].iloc[0]

"Kim's Convenience: Season 1: Gay Discount"

In [15]:
netflix_data.loc[["Kim's Convenience" in title for title in netflix_data["Title"]], "Date"].sort_values(ascending = False)

359      6/28/21
360      6/28/21
361      6/28/21
362      6/28/21
363      6/28/21
          ...
1529    11/19/18
1530    11/19/18
1531    11/19/18
1532    11/19/18
1533    11/19/18
Name: Date, Length: 65, dtype: object

In [16]:
#percentage of shows and percentage of movies
netflix_data["Title"].apply(lambda title: 'Season' in title or 'Chapter' in title)

0        True
1        True
2        True
3        True
4        True
        ...
1967     True
1968     True
1969     True
1970     True
1971    False
Name: Title, Length: 1972, dtype: bool

In [20]:
netflix_data["Title"].apply(lambda title: 'Season' in title or 'Chapter' in title).sum() / len(netflix_data["Title"]) * 100

90.31440162271805

In [21]:
#movie percentage
show_percent = netflix_data["Title"].apply(lambda title: 'Season' in title or 'Chapter' in title).sum() / len(netflix_data["Title"]) * 100
movie_percent = 100 - show_percent
movie_percent

9.685598377281949

In [24]:
#or
def is_show(title):
    return 'Season' in title or 'Chapter' in title

netflix_data["Title"].apply(is_show)

0        True
1        True
2        True
3        True
4        True
        ...
1967     True
1968     True
1969     True
1970     True
1971    False
Name: Title, Length: 1972, dtype: bool

In [29]:
def contains_keyword(value, keywords):
    return any(k in value for k in keywords)

In [32]:
netflix_data["Title"].apply(contains_keyword, args=(keywords,))

0        True
1        True
2        True
3        True
4        True
        ...
1967     True
1968     True
1969     True
1970     True
1971    False
Name: Title, Length: 1972, dtype: bool